<?php
 
define('ZF2_PATH', realpath(__DIR__ . '/../../../vendor/zendframework/zendframework/library/'));

/**
 * The bootstrap supports several more options, however most modules will
 * not need to define these.
 */

// Override the module name (usually because the namespace is something besides the root foldername)
// define('MODULE_NAME', 'SomeModuleName');

// Add additional paths where additional modules can be found
// $additionalModulePaths = array(
//     '/usr/share/lib/php/',
//     'SomeVendor' => realpath('/path/for/some/vendor/library'),
// );

// Add dependencies, for example a vendor may create several modules that all depend on a common library
// $moduleDependencies = array('SomeVendor');
